<div class="container d-flex justify-content-between" style="align-items: center; align-content: center; height: calc(80vh - 71px)">
    <div class="row" style="width: 100%">
      <div class="col-md-8" style="position: relative;">
        <div class="mt-5">
          <p class="semibold login-title">Cadastre-se agora</p>
          <p class="medium login-subtitle">para enviar mensagens</p>
        </div>
        <div class="mt-5 pt-1">
          <p class="regular register-text">Se você já possui uma conta</p>
          <p class="regular register-text register-here">Você pode <a class="register-here" href="#">entrar por aqui!</a></p>
        </div>
        <div style="position: absolute; right: 15%; bottom: -27.2%;">
          <img src="../../../../assets/auth/saly.png" style="width: 265px" alt="">
        </div>
      </div>
      <div class="col-md-4">
          <form action="">
              <p class="medium login-form-title">Cadastrar</p>
              <div class="mt-3">
                  <input class="login-input" type="name" placeholder="Nome Completo">
              </div>
              <div class="mt-4">
                  <input class="login-input" type="email" placeholder="Email">
              </div>
              <div class="mt-4">
                <input class="login-input" type="password" placeholder="Senha">
            </div>
            <div class="mt-4">
              <input class="login-input" type="password" placeholder="Confirme sua senha">
          </div>
              <div class="mt-4">
                  <button class="btn btn-purple">
                      Cadastrar
                  </button>
              </div>
          </form>
      </div>
    </div>
  </div>
  