<nav ngxNavbarDynamicExpand class="navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand semibold title" routerLink="/">Jowita</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-icon d-flex align-items-center justify-content-center"
      >
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    </ngx-navbar-collapse>
    <div
      *ngIf="sessionService.isLoggedIn()"
      style="position: absolute; right: 50px; top: 28px"
    >
      <a class="logout" href="#" (click)="logout()">Sair</a>
    </div>
  </div>
</nav>
