/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.btn-purple {
    background-color: #4D47C3;
    color: white;
    border-radius: 9px;
}

.required {
    color: red;
    padding-left: .3em;
    padding-top: .3em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: .85em;
}