<nav ngxNavbarDynamicExpand class="navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand semibold title" routerLink="/">Jowita</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-icon d-flex align-items-center justify-content-center"
      >
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <!-- <ul *ngIf="nome" class="navbar-nav mr-auto">
        <li class="nav-item"><a>Olá, {{nome}}</a></li>
      </ul>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Some very long Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Some very long Link</a>
          </li>
        </ul> -->
    </ngx-navbar-collapse>
  </div>
</nav>
